.head_wel {
  /*height: 80px;*/
  /*border-bottom: 3px solid grey;*/
  /*padding-top: 10px;*/

}
.wel_navbar {
  background: inherit;
  border-style: none;
  height: 100px;
  /*padding-top: 50px;*/
  border-bottom: 1px solid rgb(171 171 171);
}
.inch {
  font-weight: bold;
  font-size: 30px;
  color: #153575;
}
.blog {
  color: #C8AD7F;
  font-weight: bold;
  font-size: 30px;

}
.accueil {
  color: #C8AD7F;
  font-weight: bold;
  font-size: 20px;
}
.wel_padding {
  margin-top: 30px;
  height: 400px;
  width: 100%;
  /*width: 400px;*/
  padding-right: 30px;
  /*border: solid blanchedalmond;*/
  /*background-color: grey;*/
}
.texto {
  text-align: justify;
} 
section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.cardre_article {
  border: 1px solid grey;
  padding: 30px 30px 30px 30px;
  margin: 15px 0px 15px 0px;
  height: 370px;
  box-shadow: grey;
   overflow: hidden;
  overflow-y: auto;
  
  /*background-color: grey;*/
}


.cardre_categorie {
  border: 1px solid grey;
  padding: 30px 30px 30px 30px;
  margin: 15px 0px 15px 0px;
  height: 447px;
  box-shadow: grey;
   overflow: hidden;
  overflow-y: auto;
  /*background-color: grey;*/
}
.cardre_image {
  /*border: solid red;*/
  height: 200px;
  width: 100%;
}
h1 {
  text-align: center;
}
.image_title {
  border: 4px solid grey;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: greenyellow;
  /*margin-left: 10px;*/
}
.cardre_redac{
  text-align: center;
  /*border: 0px solid yellow;*/
  margin: 15px 0px 15px 0px;
}
.clift {
  background-color: rgba(195, 201, 190, 0.2);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 28% 75%, 25% 81%, 22% 75%, 0% 75%);
  height: 150px;
  line-height: 25px;
  padding-top: 10px;
}
.profil_ab {
  /*border: 4px solid grey;*/
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border-style: none;
  /*background-color: greenyellow;*/
  margin-left: 50px;  
}
.cardre_feed {
  text-align: center;
  border: 0px solid blue !important;
  margin: 15px 0px 15px 0px;
  padding: 0px 15px 0px 15px;

}
.img_visualise {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

ul {
  list-style: none;
}
.head_wel {
  border: 1px solid red;

}
.onglet_wel {
  font-size: 20px;
  font-weight: bold;
}

.profil_users {
  height: 60px;
  width: 60px;
  border-radius: 50%;

}
.wel_nav {
  background: inherit;
  border-style: none;
}
.imge_header {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  /*display: inline-block;*/
}
.comment_profil {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
}
.cadre_commentaire {
  background-color: #fafafa;
  /*border-radius: 5%;*/
  margin: 10px 0px 10px 0px;
}
.style {
  background-color: #C8AD7F;
  border-radius: 13px; 
  border-top: 0px solid ; 
  border-bottom: 0px solid rgb(142,67,140) ; 
  border-left: 0px; 
  border-right: 0px; 
  box-shadow: 7px 7px 7px 7px rgba(75,0,13,0.5)
}
.Newsletter_title {
  font-weight: bold;
  font-size: 50px;
  color: #C8AD7F;
}
.Newsletter_form1 {
  height: 60px;
  /*width: px;*/
  /*font-weight: bold;*/
  font-size: 25px;
}
.Newsletter_form {
  height: 60px;
  /*width: px;*/
  font-weight: bold;
  font-size: 25px;
  background: inherit;
  color: #C8AD7F;
}
.Copyright {
  text-align: center;
}
.mediar_header {
  background-image: url(../images/background1.jpeg);
  background-size: cover;
}

.profil {
  margin-left: 50px;
  
}
.style_footer {
  border-bottom: 1px solid #C8AD7F;
  /*border-top: 1px solid grey;*/
}

.styleCONNECTION{
  background-color: #C8AD7F;
border-radius: 13px;
 border-top: 0px solid ; 
 border-bottom: 0px solid rgb(142,67,140) ; 
border-left: 0px;
 border-right: 0px;
  box-shadow: 7px 7px 7px 7px rgba(75,0,13,0.5);

  margin-top: 80px !important;

}

.TITRECONNECTION{

  color: indigo;
}
.footer_link {
  color: #C8AD7F !important;
}

